@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 2em;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}

.centerText {
  text-align: center;
}

.page-landing-background {
  background-image: url("/ssd-background.jpg");
  width: 100vw;
  height: 100vh;
  background-color: #cccccc;
}