@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color-primary: #057CDE;
  --theme-color-secondary: #035496;
  --theme-color-accent: #59B1F9;
  --theme-color-text: white;

  --background-gradiant-light: #004278;
  --background-gradiant-dark: #030304;
}

body {
  width: 100vw;
  height: 100vh;
  color: var(--theme-color-text);
  background: linear-gradient(
    to bottom right,
    var(--background-gradiant-dark),
    var(--background-gradiant-light)
  ) fixed;
}

h1 {
  margin: 0.75em 4px;
  font-size: 2em;
}

h2 {
  margin: 0.75em 4px;
  font-size: 1.5em;
}

p {
  margin: 0.75em 4px;
}
