.content {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.landingBackground {
    padding: 1px; /* hack to prevent margin collapse */
    background-image: url("/landing-background.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
