.landingTitle {
    font-size: 2em;
    margin-bottom: 1rem;
    margin-left: 1em;
    margin-right: 1em;
}
  
.landingBackground h2 {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
    margin-left: 1em;
    margin-right: 1em;
}

.landingBackground p {
    margin-bottom: 0.5rem;
    margin-left: 1em;
    margin-right: 1em;
}
  
.centerText {
    text-align: center;
}
  
.landingBackground {
    background-image: url("/landing-background.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
  
  