.imageCarousel {
  display: flex;
  justify-content: center;
}

.imageCarousel .container {
  width: 100vw;
}

.carouselItem {
  max-height: 600px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselItem img {
  object-fit: cover;
}
