.genericLink {
  /* style */
  text-decoration: underline;
  color: blue;
}

.genericLink:visited {
  /* style */
  color: purple;
}

.imageCarousel {
  /* content */
  display: flex;
  justify-content: center;
}

.imageCarousel .container {
  /* align */
  width: 100vw;
}

.carouselItem {
  /* align */
  max-height: 600px;
  width: 100vw;
  /* content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselItem img {
  /* style */
  object-fit: cover;
}
