.landingTitle {
    /* TEMPORARY color till global theme is placed*/
    color: #035496;
    font-size: 2em;
    margin-bottom: 1rem;
    margin-left: 1em;
    margin-right: 1em;
}
  
h2 {
    /* TEMPORARY color till global theme is placed*/
    color: #057cde;
    font-size: 1.5em;
    margin-bottom: 0.5rem;
    margin-left: 1em;
    margin-right: 1em;
}

p {
    /* TEMPORARY color till global theme is placed*/
    color: #59b1f9;
    margin-bottom: 0.5rem;
    margin-left: 1em;
    margin-right: 1em;
}
  
.centerText {
    text-align: center;
}
  
.landingBackground {
    background-image: url("/landing-background.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
  
  